<div class="row" id="precio">
  <div class="col-md-8 ml-auto mr-auto">
    <div class="card card-pricing bg-primary"><div class="card-body ">
        <div class="icon" style="display:inline-block;">
            <i class="material-icons">album</i> 
        </div>

        <h2 class="card-title" style="display: contents;">Trio De Mariachi</h2>
            <h3 class="card-title" style="font-size: 3rem">$1'300 </h3>
            <p class="card-text" id="text">Disfruta El Mejor Mariachi Para Reuniones, Fiestas, Posadas XV Años Entre Mas Con El Trio De Mariachi Tapatrio Por Un Accesible Costo.</p>
  
            <p class="card-text">Consulta Restricciones</p>
  
            <a class="d-inline d-sm-inline d-md-none  btn btn-white btn-round" href="tel:3331319079"><i class="material-icons">call</i> Llamanos</a>
              
            <a class="d-none d-sm-none d-md-inline  btn btn-white btn-round"  href="tel:3331319079" (click)="llamanos()" ><i class="material-icons">call</i> Llamanos</a>

        </div>
    </div>
  </div>
</div>