<div class="title text-center" id="share">
    <h3>Gracias Por Compartir!</h3>
    <br>
    <button id="twitter" class="btn btn-round btn-twitter"  style="background: #1DA1F2"><i class="fa fa-twitter"></i> Twitter </button>
    <button id="facebook" class="btn btn-round btn-facebook" style="background: #3C5A99"><i class="fa fa-facebook-square"></i> Facebook</button>
    <button id="google" class="btn btn-round btn-google" style="background: #F4B400"><i class="fa fa-google-plus"></i> Google</button>
  </div>