<div class="title text-center" id="share">
    <h3>Gracias Por Compartir!</h3>
    <br>
    <a href="https://twitter.com/mariachitapatr1?s=08" target="_blank">
      <button id="twitter" class="btn btn-round btn-twitter"  style="background: #1DA1F2"><i class="fa fa-twitter"></i> Twitter </button>
    </a>
    <a href="https://www.facebook.com/Mariachi-tapatrio-1605828862985974/" target="_blank">
      <button id="facebook" class="btn btn-round btn-facebook" style="background: #3C5A99"><i class="fa fa-facebook-square"></i> Facebook</button>
    </a>
    <a href="https://www.instagram.com/mariachitapatrio/" target="_blank">
      <button id="instagram" class="btn btn-round btn-google" style="background: #F4B400"><i class="fa fa-instagram"></i> Instagram</button>
    </a>
    <a href="https://www.youtube.com/channel/UCNCnvO9x8hPRET2qAXWojCA" target="_blank">
      <button id="youtube" class="btn btn-round btn-google" style="background:  #ff0000"><i class="fa fa-youtube"></i> Youtube</button>
    </a>
  </div>