<div class="section text-center" id="conocenos">
  <h2 class="title">Metodos De Pago</h2>
  <h4> 3, 6, 9 y 12 Meses Sin Intereses</h4>
  <div class="team">
    <div class="row">
      <div class="col-md-12">
          <div class="card card-plain">
            <div class="card-footer justify-content-around">
              <img  class="btn btn-link btn-just-icon" src="../../../assets/img/visa.png" alt="visa" style=" width: 5rem; height: auto;" >
              <img  class="btn btn-link btn-just-icon" src="../../../assets/img/master-card.png" alt="master-card" style=" width: 5rem; height: auto;" >
              <img  class="btn btn-link btn-just-icon" src="../../../assets/img/paypal.png" alt="paypal" style=" width: 5rem; height: auto;">
            </div>
            <h5> Consultar Restriccones Y Costos Adicionales</h5>
          </div>
        </div>
      </div>
  </div>
</div>