<div class="row" id="generales">
    <div class="col-md-4" style="text-align: center; text-align: -webkit-center;">
            <div class="info">
                    <div class="icon icon-primary">
                        <i class="material-icons">add_to_home_screen</i>
                    </div>
                    <h4 class="info-title">Servicio 24 Hrs</h4>
                    <p>Contactanos 24 Hrs Los 365 Dias Del Año, Para Que Ningun Dia Falte La Musica En Tu Casa O Con Tus Seres Queridos.</p>
                </div>
    </div>
  
    <div class="col-md-4" style="text-align: center; text-align: -webkit-center;">
            <div class="info">
                    <div class="icon icon-primary">
                        <i class="material-icons">music_note</i>
                    </div>
                    <h4 class="info-title">Musica De Todo Tipo</h4>
                    <p>Todas Las Canciones Que Puedas Imaginar Para Todo Tipo De Gustos Tenemos Una Amplia Variedad De Repertorio Llamanos Y Sorprendete.</p>
                </div>
    </div>
    <div class="col-md-4" style="text-align: center; text-align: -webkit-center;">
            <div class="info">
                    <div class="icon icon-primary">
                        <i class="material-icons">favorite</i>
                    </div>
                    <h4 class="info-title">Serenatas</h4>
                    <p>Lleva Mariachi O Serenata A Esa Persona Que Tanto Aprecias Y Sorprendela Con Uno De Los Mariachis Mas Increibles De Todo Guadalajara.</p>
                </div>
        </div>
  </div>
  