<div class="row" id="generales">
    <div class="col-md-4" style="text-align: center; text-align: -webkit-center;">
            <div class="info">
                    <div class="icon icon-primary">
                        <i class="material-icons">chat</i>
                    </div>
                    <h4 class="info-title">Free Chat</h4>
                    <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
                </div>
    </div>
  
    <div class="col-md-4" style="text-align: center; text-align: -webkit-center;">
            <div class="info">
                    <div class="icon icon-primary">
                        <i class="material-icons">music_note</i>
                    </div>
                    <h4 class="info-title">Free Chat</h4>
                    <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
                </div>
    </div>
    <div class="col-md-4" style="text-align: center; text-align: -webkit-center;">
            <div class="info">
                    <div class="icon icon-primary">
                        <i class="material-icons">chat</i>
                    </div>
                    <h4 class="info-title">Free Chat</h4>
                    <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
                </div>
        </div>
  </div>
  