<header class="v-header container">
    <div class="fullscreen-video-wrap">
       
        <!--https://wellfasterstore.blob.core.windows.net/images/1.mp4-->
      <video src=" https://mariachilosnungaray.com.mx/video" autoplay loop >
    </video>
    </div>
    <div class="header-overlay"></div>
    <div class="header-content text-md-center" style="margin: auto">
        <h1 class="title" style="color: whitesmoke">
            Mariachi Tapatrio 
        </h1>
        <a class="btn" style="top: 2rem">Llamanos</a>
    </div>
  </header>

  <!---<section class="section section-a">
    <div class="container">
      <h2>Section A</h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde, impedit amet minima iste autem cumque et maiores blanditiis doloribus aut dolorum quaerat non est voluptatum, tempore ut dolorem voluptas quod quae accusantium, ex inventore ducimus. Beatae mollitia exercitationem, quam similique, consectetur ratione reprehenderit delectus neque eligendi facere soluta dolor ducimus!</p>
    </div>
  </section>

  <section class="section section-b">
    <div class="container">
      <h2>Section B</h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde, impedit amet minima iste autem cumque et maiores blanditiis doloribus aut dolorum quaerat non est voluptatum, tempore ut dolorem voluptas quod quae accusantium, ex inventore ducimus. Beatae mollitia exercitationem, quam similique, consectetur ratione reprehenderit delectus neque eligendi facere soluta dolor ducimus!</p>
    </div>
  </section>-->