
<header class="v-header container" id="inicio">

    <div class="fullscreen-video-wrap">       
        <!--https://wellfasterstore.blob.core.windows.net/images/1.mp4-->
        <!--https://mariachilosnungaray.com.mx/video-->
      <video src="http://www.mariachigemanegra.com/source/video/video-largo-gema-negra-mariachi-guadalajara.mp4" autoplay loop controls [muted]="muted" >
    </video>
    </div>
    
    <div class="header-overlay"></div>
    <div class="header-content text-md-center" style="margin: auto">
        <h1 class="title">
          <img style="width:17rem" src="../../../assets/img/logos/TAPATRIO LOGO 3.png" width="128px" height="auto" alt="">
        </h1>
          <a class="d-block d-sm-block d-md-none  btn" style="top: 2rem" href="tel:3339473899"><i class="material-icons">call</i> Llamanos</a>
          
          <a class="d-none d-sm-none d-md-block  btn" style="top: 2rem" href="tel:3339473899" (click)="bajar()" ><i class="material-icons">call</i> Llamanos</a>

          <a class="d-block d-sm-block d-md-none btn" style="top: 2rem; margin-top: 1rem" href="https://wa.me/5213331319079"><i class="material-icons">chat</i> WhatsApp</a>

          <a class="d-none d-sm-none d-md-block btn" style="top: 2rem; margin-top: 1rem" href="https://api.whatsapp.com/send?phone=5213331319079&text=&source=&data="><i class="material-icons">chat</i> WhatsApp</a>
          
        </div>
        <button class="btn" style="z-index: 9999;position: fixed; right: 2.5rem; bottom: 2.5rem; background: #b0750e;" (click)="clickMuted()" >
            <i class="material-icons" >volume_up</i>
        </button>
      </header>