<div class="section section-content" style="background: url(http://www.mariachigemanegra.com/source/images/mariachi-gema-negra-img-nosotros.jpg)">
    <div class="container">
      <div class="row">
        <!-- <div class="col-md-5">
          <div class="image-container">
            <img class="img img-raised rounded img-comments rellax" data-rellax-speed="1" src="assets/img/presentation-page/content1.jpg" style="transform: translate3d(0px, -10px, 0px);">
            <img class="img img-raised rounded img-blog rellax" data-rellax-speed="4" src="assets/img/presentation-page/content4.jpg" style="transform: translate3d(0px, -14px, 0px);">
          </div>
        </div> -->
            <!-- <div class="col-md-4 ml-auto mr-auto">
              <div class="card card-pricing bg-primary"><div class="card-body ">
                  <div class="icon">
                      <i class="material-icons">business</i>
                  </div>
                  <h3 class="card-title">$69</h3>
                  <p class="card-description">
                      This is good if your company size is between 11 and 99 Persons.
                  </p>
                  <a href="#pablo" class="btn btn-white btn-round">Choose Plan</a>
                  </div>
              </div>
            </div>
   -->
        <div class="col-md-4 ml-auto ">
          <div class="section-description">
            <h2 class="title">Content Areas</h2>
            <h6 class="category">For Areas that Need More Space</h6>
            <h5 class="description">We took into consideration multiple use cases and came up with some specific areas for you. If you need elements such as tables, comments, description areas, tabs and many others, we've got you covered. They're beautiful and easy to use for the end user navigating your website. </h5>
          </div>
        </div>

      </div>
    </div>
  </div>