<div class="section section-content" style="background: url(https://i.ibb.co/fqHz5M3/1920x1080-black-solid-color-background.jpg)">
    <div class="container">
      <div class="row">
        <div class="col-md-4 ml-auto ">
          <div class="section-description">
            <h2 class="title" style="color: white">Somos Mas Que Un Mariachi</h2>
            <h6 class="category" style="color: #ede3e1">Mas De 50 Años Nos Respaldan</h6>
            <h5 class="description">Mariachi Tapatrio Ha Llevado, Desde Serenatas, Trios, Mariachis Y Mucho Mas A Todo Guadalajara Y Mas Partes De Mexico Representamos Mas Que Un Mariachi Somos Parte De Uno De Los Mayores Emblemas Mexicanos. Ven Y Conoce Nuestro Trabajo Y Siente Mas Que Un Mariachi. Con Mariachi Tapatrio.</h5>
          </div>
        </div>

      </div>
    </div>
  </div>