<div class="section section-content">
    <div class="container">
      <div class="row">
        <div class="col-md-4 ml-auto ">
          <div class="section-description">
            <h2 class="title" style="color: white">Somos Mas Que Un Mariachi</h2>
            <h6 class="category" style="color: #ede3e1">Mas De 50 Años Nos Respaldan</h6>
            <h5 class="description" style="text-transform: capitalize">Somos Un mariachi caracterizado por profesionalismo, presentación y prestigio en cada evento de todo el país, Guadalajara y alrededores Representamos: Mas Que Un Mariachi Somos Parte De Un Emblema Mexicano. Ven Y Conoce Nuestro Trabajo Y Siente Mas Que Un Mariachi. Con Mariachi Tapatrio.</h5>
          </div>
        </div>
      </div>
    </div>
  </div>