<div class="container" id="fotos">
    <div class="row">
        <div class="col-md-12 ml-auto mr-auto">
          <h2 class="title" style="text-align:-webkit-center">Let's talk product</h2>
          <h5 class="description">This is the paragraph where you can write more details about your product. Keep you user engaged by providing meaningful information. Remember that by this time, the user is curious, otherwise he wouldn't scroll to get here. Add a button if you want the user to see more.</h5>
        </div>
      </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3 ml-auto mr-auto">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="https://img1.wsimg.com/isteam/ip/c6ebb1ae-e91d-490e-bedb-23150cb40753/8b14908f-cced-4180-8565-b45520e5230f.jpg/:/rs=w:400,h:500,cg:true,m/cr=w:800,h:500,a:cc" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
    </div>
    <div class="col-md-3 ml-auto mr-auto">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="https://img1.wsimg.com/isteam/ip/c6ebb1ae-e91d-490e-bedb-23150cb40753/1e0e5b7d-e2dc-4cab-b05a-5a6c7b2d8c2c.jpg/:/rs=w:400,h:500,cg:true,m/cr=w:800,h:500,a:cc" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
    </div>
    <div class="col-md-3 ml-auto mr-auto">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="https://img1.wsimg.com/isteam/ip/c6ebb1ae-e91d-490e-bedb-23150cb40753/711f6205-5e5a-42f7-a448-ca3f253f7025.jpg/:/rs=w:400,h:500,cg:true,m/cr=w:800,h:500,a:cc" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
    </div>
  </div>
</div>