<div class="container" id="fotos">
    <div class="row">
        <div class="col-md-12 ml-auto mr-auto">
          <h2 class="title" style="text-align:-webkit-center">Quienes Somos?</h2>
          <h5 class="description" style="text-transform: capitalize">Somos Un Mariachi Con Años De Experiencia Llevando Mariachi Por Años, No Solo Llevando Sonriras Y Alegria A La Gente Si No Ademas Posicionandos En Uno De Los Mejores Mariachis De Todos Mexico, Puedes Encontrarnos En Nuestros Canales Oficiales De Youtube, Instagram, Facebook, entre otros. Para Que Puedas Observar La Calidad Y Profesionalismo.</h5>
          <h3><a  routerLink="/fotos">Ver Mas Fotos</a></h3>
        </div>
      </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3 ml-auto mr-auto">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="https://i.ibb.co/28vHSXy/IMG-20190610-WA0134.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Mariachi Tapatrio Armonizando Una Boda Al Mejor Estilo De Un Mariachi.</p>
            </div>
          </div>
    </div>
    <div class="col-md-3 ml-auto mr-auto">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="https://i.ibb.co/z8dKwMY/IMG-20190610-WA0072.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Llevando Felicidad A Miles De Personas Con La Mejor Musica Al Estilo De Mariachi Tapatrio.</p>
            </div>
          </div>
    </div>
    <div class="col-md-3 ml-auto mr-auto">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="https://i.ibb.co/55pgMk3/IMG-20190610-WA0086.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Preparados Para Cualquier Tipo De Evento Mariachi Tapatrio Un Mariachi Versatil.</p>
            </div>
          </div>
    </div>
  </div>
</div>