<div class="container" id="videos">
    <div class="row">
        <div class="col-md-12 ml-auto mr-auto">
          <h2 class="title" style="text-align:-webkit-center">Escucha Nuestro Repertorio</h2>
          <h5 class="description">
              Dejate Llevar Por Algunas De Nuestras Interpretacciones Realizadas En Diferentes Sitios Con La Maxima Calidad Por Parte Del Mariachi 100% Jalisience Y Unico Mariachi Tapatrio. Presentadas En Los Videos Oficiales De Nuestro Canal De Youtube.
          </h5>
        </div>
      </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4 ">
        <div class="card" style="width: 20rem;">
            <div class="card-img-top embed-responsive-16by9" style="text-align: -webkit-center">
                <iframe class="embed-responsive-item" allowfullscreen [src]="videos[0] | safe"></iframe>
            </div>    
            <h4 class="card-title">Mariachi Tapatrio - Popurri Rock</h4>
            <div class="card-body">
                <blockquote class="blockquote">
                    Mariachi Tapatrio Realizando La Interpretacion De Un Popurri De Rock Clasico De Mexico
                </blockquote>                
            </div>
        </div>
    </div>
    <div class="col-md-4 ">
        <div class="card" style="width: 20rem;">
            <div class="card-img-top embed-responsive-16by9" style="text-align: -webkit-center">
                <iframe class="embed-responsive-item" allowfullscreen [src]="videos[1] | safe"></iframe>
            </div>
            <h4 class="card-title">Mariachi Tapatrio - Ella</h4>                
            <div class="card-body">
                <blockquote class="blockquote">
                    Mariachi Tapatrio Realizando La Interpretacion De Ella Una Cancion De Simbolo Mexicano
                </blockquote>                
            </div>
        </div>
    </div>    
    <div class="col-md-4 ">
        <div class="card" style="width: 20rem;">
            <div class="card-img-top embed-responsive-16by9" style="text-align: -webkit-center">
                <iframe class="embed-responsive-item" allowfullscreen [src]="videos[2] | safe"></iframe>
            </div>
            <h4 class="card-title">Mariachi Tapatrio - </h4>                
            <div class="card-body">
                <blockquote class="blockquote">
                    Mariachi Tapatrio Realizando La Interpretacion De Un Popurri De Banda
                </blockquote>                
            </div>
        </div>
      </div>
  </div>
  </div>


    <div class="container">
      <div class="row">
        <div class="col-md-4 ">
            <div class="card" style="width: 20rem;">
                <div class="card-img-top embed-responsive-16by9" style="text-align: -webkit-center">
                    <iframe class="embed-responsive-item"  allowfullscreen [src]="videos[3] | safe"></iframe>
                </div>    
                <h4 class="card-title">Mariachi Tapatrio - Las Abajeñas</h4>
                <div class="card-body">
                    <blockquote class="blockquote">
                        Mariachi Tapatrio Realizando La Interpretacion De Las Abajeñas
                    </blockquote>                
                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="card" style="width: 20rem;">
                <div class="card-img-top embed-responsive-16by9" style="text-align: -webkit-center">
                    <iframe class="embed-responsive-item" allowfullscreen [src]="videos[4] | safe"></iframe>
                </div>
                <h4 class="card-title">Mariachi Tapatrio - Vivir Mi Vida</h4>                
                <div class="card-body">
                    <blockquote class="blockquote">
                        Mariachi Tapatrio En La Interpretacion De Vivir Mi Vida Una Cancion Muy Emblematica
                    </blockquote>                
                </div>
            </div>
        </div>    
        <div class="col-md-4 ">
            <div class="card" style="width: 20rem;">
                <div class="card-img-top embed-responsive-16by9" style="text-align: -webkit-center">
                    <iframe class="embed-responsive-item" allowfullscreen [src]="videos[5] | safe"></iframe>
                </div>
                <h4 class="card-title">Mariachi Tapatrio - El Son Del Gusto</h4>                
                <div class="card-body">
                    <blockquote class="blockquote">
                        Mariachi Tapatrio Realizando La Interpretacion De El Son Del Gusto
                    </blockquote>                
                </div>
            </div>
          </div>
      </div>
      </div>