<footer class="footer footer-black  footer-white " style="background:#7b241c" id="footer">
    <div class="container">
      <div class="row">
        <nav class="footer-nav">
          <ul>
            <li style="color: white">
              Crea Tu Pagina Web
            </li>
            <li>
              <a href="https://www.privacypolicies.com/privacy/view/9bf05db96220a08ff7835d4f2497f444" id="privacy policy" target="_blank">Privacy Policy</a>
            </li>
            <li>
             <a href="https://www.flaticon.com/authors/freepik" target="_blank" title="Freepik">Freepik</a>
            </li>
          </ul>
        </nav>
        <div class="credits ml-auto">
          <span class="copyright">
            ©
            <script>
              document.write(new Date().getFullYear())
            </script>2019, Creada <i class="fa fa-heart heart"></i> by ROUV
          </span>
        </div>
      </div>
    </div>
  </footer>