<div class="page-header header-filter clear-filter purple-filter" data-parallax="true" style="background-image: url(https://i.ibb.co/S6bvR15/IMG-20190610-WA0063.jpg); transform: translate3d(0px, 0px, 0px);">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto">
        <div class="header-content text-md-center">
            <h1 class="title">
                <img src="../../../assets/img/logos/TAPATRIO LOGO 3.png" style="width: 21rem;" height="auto" alt="">
              </h1>
          <h3>El Mariachi Siempre Fue La Perfeccion</h3>
        </div>
      </div>
    </div>
  </div>
</div>