<nav class="navbar sticky-top navbar-expand-lg bg-primary">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img src="../../../assets/img/logos/TAPATRIO TIPOGRAFIA.png" alt="" style="width: 6rem;">
      </a>
  
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="margin: auto; cursor: pointer;">
          <li class="nav-item">
            <a class="nav-link" (click)="fotos()">fotos <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="promociones()">promociones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " (click)="precios()">precios</a>
          </li>
        </ul>
            <a class="nav-link"   style="cursor: pointer;" (click)="llamanos()">Llamanos</a>
      </div>
    </div>
  </nav>