<div class="row" id="precio">
    <div class="col-md-8 ml-auto mr-auto">
      <div class="card card-pricing bg-primary"><div class="card-body ">
          <div class="icon" style="display:inline-block;">
              <i class="material-icons">album</i> 
          </div>
          <h2 class="card-title" style="    display: contents;"> Quinteto De Mariachi</h2>
          <h3 class="card-title" style="font-size: 2.7rem">$2'550</h3>
          <p class="card-text" id="text">Disfruta De Los Mejores Temas Con El Cuarteto De Mariachi En Guadalajara Que Consta De Trompeta, Arpa, Violin, Vihuela y Guitarrón Por Un Accesible Costo.</p>

          <p class="card-text">Solo De Lunes A Jueves - Precio Fin De Semana $2'800</p>
          
          <a class="d-inline d-sm-inline d-md-none  btn btn-white btn-round" href="tel:3339473899"><i class="material-icons">call</i> Llamanos</a>
          
          <a class="d-none d-sm-none d-md-inline  btn btn-white btn-round"  href="tel:3339473899" (click)="llamanos()" ><i class="material-icons">call</i> Llamanos</a>

          </div>
      </div>
    </div>
  </div>