<div class="section text-center" id="conocenos">
    <h2 class="title">Algunos Integrantes</h2>
    <div class="team">
      <div class="row">
        <div class="col-md-4">
          <div class="team-player">
            <div class="card card-plain">
              <div class="col-md-6 ml-auto mr-auto">
                <img src="https://i.ibb.co/6ny5VGK/Avatar3.jpg" width="400px" height="400px" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
              </div>
              <h4 class="card-title">Cruz Gonzalez
                <br>
                <small class="card-description text-muted">Trompetista</small>
              </h4>
              <div class="card-body">
                <p class="card-description text-muted">Uno De Los Mejores Trompetistas Que Ha Tenido A Lo Largo De Los Años Mariachi Tapatrio
                  <a href="#">links</a> Para Ver Su Presentaccion Junto Con El Mariachi Tapatrio De Mario Vázquez.</p>
              </div>
              <div class="card-footer justify-content-center">
                <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-twitter"></i></a>
                <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-instagram"></i></a>
                <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-facebook-square"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="team-player">
            <div class="card card-plain">
              <div class="col-md-6 ml-auto mr-auto">
                <img src="https://i.ibb.co/djvRcgS/Avatar1.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
              </div>
              <h4 class="card-title">Marvin Lopez
                <br>
                <small class="card-description text-muted">Violinista</small>
              </h4>
              <div class="card-body">
                <p class="card-description text-muted">Dejate Llevar Por Uno De Los Mejores Violinistas Con Las Interpretacciones Mas Excelenetes Y Precisas               
                    <a href="#">links</a> Para Ver Su Presentaccion Junto Con El Mariachi Tapatrio De Mario Vázquez.</p>
                  </div>
              <div class="card-footer justify-content-center">
                <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-twitter"></i></a>
                <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-instagram"></i></a>
                <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="team-player">
            <div class="card card-plain">
              <div class="col-md-6 ml-auto mr-auto">
                <img src="https://i.ibb.co/D8zXVdm/Avatar2.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
              </div>
              <h4 class="card-title">Sotero Trujillo
                <br>
                <small class="card-description text-muted">Guitarrista</small>
              </h4>
              <div class="card-body">
                <p class="card-description text-muted">Nos Enorgullese Presentar A Un Integrante Con Tal Nivel De Excelencia En El Mariachi
                    <a href="#">links</a> Para Ver Su Presentaccion Junto Con El Mariachi Tapatrio De Mario Vázquez.</p>              </div>
              <div class="card-footer justify-content-center">
                <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-twitter"></i></a>
                <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-instagram"></i></a>
                <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-facebook-square"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>