<div class="section" id="contactanos">
    <h1 class="title" style="text-align: center">Contactanos</h1>
    <div class="row" style="text-align: center">
      <div class="col-md-6">
          <img src="../../../assets/img/logos/Tapatrio4.png" alt="Rounded Image" class="rounded img-fluid">
      </div>
      <div class="col-md-6">
            <h1>Llamanos 24Hrs </h1>
            <a class="" style="top: 2rem" href="tel:3339473899">
                <h2><i class="material-icons">call</i> 3339473899</h2>
              </a>
              <a class="" style="top: 2rem; margin-top: 1rem" href="https://wa.me/5213331319079">
                <h2><i class="material-icons">chat</i> 3339473899</h2>
              </a>
        </div>
    </div>
  </div>