<div class="container" id="precios">
    <div class="row">
        <div class="col-md-12 ml-auto mr-auto">
            <div class="card card-pricing bg-primary">
                <div class="card-body ">
                    <div class="icon" style="display:inline-block;">
                        <i class="material-icons">business</i>
                    </div>
                    <h2 class="card-title" style="    display: contents;"> Quinteto De Mariachi</h2>
                    <h3 class="card-title" style="font-size: 2.7rem">$2'799</h3>
                    <p class="card-text" id="text">Disfruta De Los Mejores Temas Con El Quinteto De Mariachi En Guadalajara Que Consta De Trompeta, Arpa,
                        Violin, Vihuela y Guitarrón Por Un Accesible Costo.</p>

                    <p class="card-text">Consulta Restricciones</p>

                    <a class="d-inline d-sm-inline d-md-none  btn btn-white btn-round" href="tel:3331319079">
                        <i class="material-icons">call</i> Llamanos</a>

                    <a class="d-none d-sm-none d-md-inline  btn btn-white btn-round" href="tel:3331319079" (click)="llamanos()">
                        <i class="material-icons">call</i> Llamanos</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 ml-auto mr-auto">
                <div class="card card-pricing bg-primary">
                    <div class="card-body ">
                        <div class="icon" style="display:inline-block;">
                            <i class="material-icons">business</i>
                        </div>
                        <h2 class="card-title" style="    display: contents;"> Mariachi 8 Elementos</h2>
                        <h3 class="card-title" style="font-size: 2.7rem">$4'500</h3>
                        <p class="card-text" id="text">Disfruta De Los Mejores Temas Con El Grupo De 8 Integrantes De Mariachi En Guadalajara Que Consta
                            De Dos Trompetas, Tres Violines, Guitarrón, Vihuela y Arpa</p>

                        <p class="card-text">Sujeto A Disponibilidad</p>

                        <a class="d-inline d-sm-inline d-md-none  btn btn-white btn-round" href="tel:3331319079">
                            <i class="material-icons">call</i> Llamanos</a>

                        <a class="d-none d-sm-none d-md-inline  btn btn-white btn-round" href="tel:3331319079" (click)="llamanos()">
                            <i class="material-icons">call</i> Llamanos</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 ml-auto mr-auto">
                <div class="card card-pricing bg-primary">
                    <div class="card-body ">
                        <div class="icon" style="display:inline-block;">
                            <i class="material-icons">business</i>
                        </div>

                        <h2 class="card-title" style="    display: contents;">MARIACHI COMPLETO </h2>
                        <h3 class="card-title" style="font-size: 2.7rem">Llamanos Ahora</h3>
                        <p class="card-text" id="text">Disfruta De La Mejor Música Tradicional Mexicana Con Nuestro Servicio De Mariachi Completo De 10
                            O 12 Integrantes A Un Accesible Precio!</p>

                        <p class="card-text">Consulta Restricciones</p>
                        <a class="d-inline d-sm-inline d-md-none  btn btn-white btn-round" href="tel:3331319079">
                            <i class="material-icons">call</i> Llamanos</a>

                        <a class="d-none d-sm-none d-md-inline  btn btn-white btn-round" href="tel:3331319079" (click)="llamanos()">
                            <i class="material-icons">call</i> Llamanos</a>

                    </div>
                </div>
            </div>

        </div>